.withdraw_component{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  font-size: 22px;
  gap: 3.2vh;
}

.withdraw_funds_options_container {
  display: flex;
  width: 23vw;
  height: 17vh;
  gap: 1vw;
}

.withdraw_funds_option {
  text-align: center;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid #e5e5e5;
  font-size: 17px;
  padding: 0 1vw;
  width: 4.6vw;
}

.withdraw_funds_input {
  background-color: #f1f2f6;
  border-bottom: 1px solid #76777b;
  color: black;
  width: 23vw;
  font-size: 16px;
  height: 3.5vh;
  font-family: 'Michroma', sans-serif;
}

.withdraw_funds_option > img {
  width: 5vw;
}

.withdraw_options {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

@media screen and (max-device-width: 768px) {
  .withdraw_funds_input {
    width: 70vw;
  }
  .withdraw_funds_options_container {
    width: 80%;
  }

  .withdraw_funds_option {
    font-size: 18px;
    width: 20vw;
    justify-content: space-evenly;
  }

  .withdraw_funds_option > img {
    width: 20vw;
  }
}