/* .login_page {
  background-color: #e5e5e5;
  font-size: 20px;
  color: #535353;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  width: 100vw;
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15vh;
  height: 85vh;
  width: 42vw;
} */

/* .form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  width: 65%;
}

.form_container > p {
  height: 5vh;
  width: 100%;
} */

/* .label_container {
  margin-bottom: 3vh;
  height: 8vh;
}

.label_container > p {
  font-size: 15px;
  height: 3vh;
} */

/* .form_input {
  background-color: #e5e5e5;
  border: none;
  border-bottom: 1px solid #a6a6a6;
  color: #535353;
  font-size: 16px;
  height: 4vh;
  outline: none;
  width: 100%;
} */

.invalid_login_message {
  color: red;
  position: relative;
  bottom: 1.2vh;
  font-size: 18px;
  height: 3vh;
}

/* .form_button {
  background-color: #FCA311;
  border-radius: 5px;
  color: #535353;
  cursor: pointer;
  font-size: 16px;
  height: 4.5vh;
  margin-bottom: 3vh;
  margin-top: 1.4vh;
} */

/* .link_registry_btn {
  color: #535353;
  cursor: pointer;
  background-color: transparent;
}

.link_registry_btn:hover {
  text-decoration: underline;
} */

/* .animation_login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 58vw;
  height: 100vh;
}

.animation_login_container > iframe {
  border: none;
  pointer-events: none;
  width: 100%;
  height: 75%;
} */

/* .login_logo {
  inset: 0;
  position: absolute;
  padding: 1vh 0 0 1vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  height: 10vh;
  width: 20vw;
}

.login_logo > img {
  height: 7vh;
}

.login_logo > h1 {
  font-size: 25px;
} */

/* .wrong_infos {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  border-bottom: 1px solid red;
} */



/* @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
} */

@media screen and ( max-width : 798px ) {
  .login_page {
    align-items: center;
    font-size: 16px;
    flex-direction: column;
  }

  .animation_login_container {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 35vh;
  }

  .login_container {
    align-items: center;
    height: 60vh;
    width: 100vw;
    padding-top: 0;
  }

  .animation_login_container > iframe {
    height: 80%;
  }

  .login_logo {
    height: 8vh;
    width: 60vw;
  }
  
  .login_logo > img {
    height: 5vh;
  }
  
  .login_logo > h1 {
    font-size: 20px;
  }

  .label_container {
    margin-bottom: 1vh;
  }
  .form_container {
    height: 45vh;
  }
}