.wallet_page {
    align-items: center;
    background-color: #e5e5e5;
    font-size: 20px;
    color: #535353;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

.personal_actives_container, .new_actives_container {
    width: 80vw;
    min-height: 10vh;
    margin-top: 15vh;
}

.actives_table {
    background-color: #F1F2F6;
    border-radius: 5px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    min-height: 15vh;
    margin-top: 5vh;
    width: 80%;
    padding-left: 3vw;
}

.buy_active_button, .sell_active_button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 5vh;
    width: 6vw;
}

.buy_active_button {
    background-color: #FCA311;
    margin-right: 0.5vw;
}

.sell_active_button {
    background-color: #55b1a5;
}

.actives_table > tbody > tr > td {
    /* border-top: 1px solid #535353; */
    background-color: #F1F2F6;
    padding: 2vh 0;
}

.actives_table > tbody >tr {
    margin-bottom: 1vh;
}

.actives_table > tbody > tr > th {
    padding: 2vh 0;
}

.td_btn {
    display: inline-block;
    width: 6.5vw;
}