.wallet_page {
    align-items: center;
    background-color: #e5e5e5;
    font-size: 20px;
    color: #535353;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

.personal_assets_container, .new_assets_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: 10vh;
    margin-top: 15vh;
}

.personal_assets_container {
    margin-top: 20vh;
}

.new_assets_container {
    margin-bottom: 5vh;
}

.personal_assets_h2 {
    width: 80%;
}

.personal_assets_infos {
    align-items: center;
    background-color: #F1F2F6;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    margin-top: 5vh;
    min-height: 15vh;
    width: 80%;

}

.assets_table {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    padding-left: 3vw;
}

.buy_assets_button, .sell_assets_button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 5vh;
    outline: transparent;
    width: 6vw;
}

.buy_assets_button {
    background-color: #FCA311;
    margin-right: 0.5vw;
}

.sell_assets_button {
    background-color: #55b1a5;
}

.assets_table > tbody > tr > td {
    padding: 2vh 0;
}

.assets_table > tbody > tr > th {
    padding: 2vh 0;
}

.td_btn {
    display: inline-block;
    width: 6.5vw;
}