.wallet_page {
    align-items: center;
    background-color: #e5e5e5;
    font-size: 20px;
    color: #535353;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

.user_greetings_wallet {
    color: #8786d1;
    width: 60vw;
    margin-top: 15vh;
    font-size: 30px;
    font-weight: 900;
}

.personal_assets_container, .new_assets_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: 10vh;
    margin-top: 5vh;
}

.new_assets_container {
    margin-bottom: 5vh;
    margin-top: 7vh;
}

.personal_assets_h2 {
    width: 80%;
    text-align: center;
    color: #8786d1;
    font-weight: 900;
}

.personal_assets_infos {
    align-items: center;
    background-color: #F1F2F6;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    margin-top: 5vh;
    min-height: 15vh;
    padding-left: 2vw;
    width: 63vw;
}

.assets_table {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    padding-left: 3vw;
}

.buy_assets_button, .sell_assets_button {
    border: 1px solid black;
    background-color: #F1F2F6;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 5vh;
    outline: transparent;
    width: 6vw;
    height: 4.5vh;
}

.buy_assets_button {
    margin-right: 0.5vw;
}

.assets_table > tbody > tr > td {
    font-family: 'Michroma', sans-serif;
    font-size: 16px;
    padding: 2vh 0;
}

.assets_table > thead > tr > th {
    border-bottom: 1.5px solid #8786d1;
    padding: 2vh 0;
}

.td_btn {
    display: inline-block;
    width: 6.5vw;
}

.recomendation_and_deposit_container {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    width: 65vw;
    gap: 2vw;
    height: 28vh;
}

.buy_assets_button:active, .sell_assets_button:active {
    color: white;
    background-color: black;
}

.buy_new_asset_btn {
    width: 10vw;
}

.td_btn_new_asset {
    width: 100%;
}

.backdrop_title {
    margin-top: 3vh;
    color: #8786d1;
    text-align: center;
}

@media screen and (max-device-width: 768px) {
    .recomendation_and_deposit_container {
        flex-direction: column;
        width: 90vw;
        height: 48vh;
        justify-content: flex-start;
        gap: 4vh;
    }

    .user_greetings_wallet {
        width: 90vw;
        font-size: 22px;
        text-align: center;
    }

    .personal_assets_infos {
        font-size: 16px;
        padding-left: 2vw;
        width: 88vw;
    }

    .assets_table {
        font-size: 13px;
    }

    .assets_table > tbody > tr > td {
        font-size: 12px;
    }

    .buy_assets_button, .sell_assets_button {
        border: none;
        height: 4vh;
        width: 10vw;

    }
    .buy_assets_button, .sell_assets_button > img{
        position: relative;
        width: 10vw;
        top: 1.3vh;
    }

    .td_btn{
        height: 100%;
        width: 10vw;
        padding: 0;
    }
}